@import "./sal.css";
.top_grid_container {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  width: 100%;
  padding: 0 60px;
}

.menu {
  grid-column: 1/-1;
  grid-row: 1;
}

.listNav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#tittle {
  grid-column: 1/3;
  grid-row: 2/-2;
  display: flex;
  align-items: start;
  margin: 0;
}

.h3_container {
  grid-column: 1/-1;
  grid-row: 4;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.my_photo a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mid_grid_container {
  display: grid;
  grid-template: 1fr 0.5fr / 20% 1fr 1fr;
  row-gap: 80px;
  width: 100%;
  padding: 0 60px;
}

#tittle_two {
  grid-column: 1/3;
  grid-row: 1;
  margin-right: 40px;
  margin-bottom: 0;
}

.block_cont_about_me {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
  padding-right: 60px;
  margin-top: 40px;
}

.icons_cont {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: end;
}

.text_index_two {
  grid-column: 1;
  grid-row: 2;
  margin: 0;
}

.text_index_two:nth-child(1) {
  grid-row: 1;
  margin: 0;
}

.block_cont_what_I_do {
  grid-column: 2/-1;
  grid-row: 2;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
}

.btns_container {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 40px;
  padding-right: 40px;
}

.text_descript_my_skill {
  grid-column: 2;
  grid-row: 1;
  margin: 0 0 40px 0;
  padding: 0 60px 0 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

.photo_portfolio a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter_portfolio_cont {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
}

.listNav_two {
  width: 60vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#btn_next a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.key_skill_container {
  display: grid;
  grid-template: 0.9fr 1fr / 20% 1fr 1fr 1fr;
  row-gap: 80px;
  column-gap: 40px;
  padding: 40px 60px;
}

.skills_descript_cont {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

#sk1 {
  grid-column: 2;
  grid-row: 1;
}

#sk2 {
  grid-column: 3;
  grid-row: 1;
}

#sk3 {
  grid-column: 4;
  grid-row: 1;
}

#sk4 {
  grid-column: 2;
  grid-row: 2;
}

#sk5 {
  grid-column: 3;
  grid-row: 2;
}

#final_phrase {
  grid-column: 4;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin: 10px 0;
}

.footer_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer_tittle_cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
